.navbar {
  background-color: #557a95 !important;
}

.navbar-dark .navbar-brand {
  color: rgba(255, 255, 255, 0.5);
  font-size: 1em;
}

.navbar-dark .navbar-brand:hover {
  color: rgba(255, 255, 255, 0.5);
}
